.nachalo{
    
    
    background: #a56dea;
   
    
   
}
.love{
    color: red;
    margin-left: 600px;
    margin-bottom: 80px;
    
}
.lovee{
    margin-left: 600px;
    color: rgb(255, 0, 153);
    margin-bottom: 80px;
    margin-top: 80px;
}
.love1{
    margin-left: 630px;
    color: rgb(195, 255, 0);
    margin-bottom: 80px;
    margin-top: 80px;
}
.love2{
    margin-left: 670px;
    color: rgb(0, 225, 255);
    margin-bottom: 80px;
    margin-top: 80px;
}
.love3{
    margin-left: 630px;
    color: rgb(255, 145, 0);
    margin-bottom: 80px;
    margin-top: 80px;
}
.love4{
    margin-left: 610px;
    color: rgb(0, 55, 255);
    margin-bottom: 80px;
    margin-top: 80px;
}
.love5{
    margin-left: 500px;
    color: rgb(255, 0, 0);
    margin-bottom: 80px;
    margin-top: 80px;
}
.photo1{
   
    margin-left: 470px;
}
.photo2{
    margin-left: 400px;
    
}
.photo3{
    margin-left: 400px;
}
.photo4{
    margin-left: 470px;
}
.photo5{
    margin-left: 400px;
}
.photo6{
   
    margin-left: 300px;
}
.photo7{
    height: 500px;
    width: 500px;
    margin-left: 550px;
    margin-top: 100px;
}
